<h1>Edit a Product:</h1>

<div *ngIf="product">
  <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="editProductForm">
    <div>
      <div>
        <mat-form-field>
          <input matInput placeholder="ProductID" formControlName="ProductID" type="ProductID" required [value]="product.ProductID" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="ProductName" type="ProductName" required [value]="product.ProductName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="ProductPrice" type="ProductPrice" required [value]="product.ProductPrice" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Description" formControlName="ProductDescription" type="ProductDescription" required [value]="product.ProductDescription" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Image Path" formControlName="ProductImagePath" type="ProductImagePath" required [value]="product.ProductImagePath" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
  </form>
</div>

<a mat-button routerLink="/products">Back To Product List!</a>
