.example-fill-remaining-space{
    flex: 1 1 auto;
}
#toolbar{
    padding: 0 15%;
    background-color: white;
    height: 120px;
}
.nav-btn{
    margin-right: 0.5em;
    font-size: 1em;
    border: none;
    color: grey;
}
.nav-btn:hover{
    color: black;
}
.werzid{
    color: black;
}
.werzid img{
    width: 225px;
}
.toolbar{
    background-color: #272930;
}