<div id="home-icons">
  <a [routerLink]="['../faq']" class="home-option">
    <i class="material-icons">
      help
    </i>
    <h2>WHAT IS A WERZID?</h2>
  </a>
  <a [routerLink]="['../products']" target="new" class="home-option">
    <i class="material-icons">
      shopping_cart
    </i>
    <h2>BUY A WERZID</h2>
  </a>
  <a href="https://www.youtube.com/watch?v=7NLdm1TvBHM" target="new" class="home-option">
    <i class="material-icons">
      video_label
    </i>
    <h2>WERZID MEDIA</h2>
  </a>
</div>