<div id="home-icons">
  <a href="http://www.werzid.com/about" target="new" class="home-option">
    <i class="material-icons">
      help
    </i>
    <h2>WHAT IS A WERZID?</h2>
  </a>
  <a href="http://werzid.com/watch-werzid/" target="new" class="home-option">
    <i class="material-icons">
      settings
    </i>
    <h2>HOOSIER MADE TOY CO.</h2>
  </a>
  <a href="http://werzid.com/watch-werzid/" target="new" class="home-option">
    <i class="material-icons">
      video_label
    </i>
    <h2>WERZID MEDIA</h2>
  </a>
</div>