<h1>Product List</h1>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let product" routerLink="product/detail/{{product.ProductId}}">
        <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductID">
      <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef> Product Price </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductPrice}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Product Description </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductDescription}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <i class="material-icons" [routerLink]="['../transactions/create']">shopping_cart</i>
        <i class="material-icons">edit</i>
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>
<hr>
<a mat-raised-button color="primary" [routerLink]="['create']">Create A Product</a>