<h1>Index</h1>
<a mat-raised-button color="primary">Create A Product</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
  
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let note" routerLink="/product/detail/{{product.ProductId}}">
      <i class="marterial-icon">library_books</i>
      </mat-cell>
    </ng-container>

   <ng-container matColumnDef="ProductId">
     <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
     <mat-cell *matCellDef="let note"> {{product.ProductId}} </mat-cell>
   </ng-container> 

   <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
    <mat-cell *matCellDef="let note"> {{product.Name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Price">
    <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
    <mat-cell *matCellDef="let note"> {{product.Price}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Description">
    <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
    <mat-cell *matCellDef="let note"> {{product.Description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let note"> 
      <i mat-icon class="material-icons">Edit</i>
      <i class="material-icons">Delete</i>      
    </mat-cell>
  </ng-container>
  </mat-table>
</div>