<h1>Product List</h1>

<mat-form-field>
  <mat-select placeholder="Werzid Name">
    <mat-option *ngFor="let product of products" [value]="product.value">
      {{product.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Quantity">
    <mat-option *ngFor="let number of numbers" [value]="number.value">
      {{number.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-button color="primary" type="submit">submit</button>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="Image">
      <mat-header-cell *matHeaderCellDef> Product Image </mat-header-cell>
      <mat-cell *matCellDef="let product"> <img src="{{product.ProductImagePath}}" class="productImage"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductID">
      <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductID}} </mat-cell>
    </ng-container> 

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef> Product Price </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductPrice}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Product Description </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.ProductDescription}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <!-- <a mat-button [routerLink]="['transactions']"><i class="material-icons">shopping_cart</i></a> -->

          <button mat-button routerLink="/products/update/{{product.ProductID}}"><i mat-icon class="material-icons"  >edit</i></button>
          <i mat-icon class="material-icons" routerLink="/products/delete/{{product.ProductID}}" >delete</i> 
      </mat-cell>
    </ng-container>
  </mat-table>
</div> 

<a mat-raised-button color="primary" [routerLink]="['create']">Create A Product</a>