<div class="faqSection" id="about">
  <h2 class="sectionHeader">What is a Werzid?</h2>
  <p class="subcontent">
    This 7-inch tall fleece oddity is anything you want it to be! It's handcrafted construction is a rewarding job to
    those under-represented in the work place. It's a gift, it's an inspiration for the child in you or the child in
    your life.
  </p>
  <p class="subcontent">
    Intended for open ended, imaginative play, the Werzid has no rules. It can come to a tea party in the morning, a
    game of “kick” after lunch and then be ready for bed time snuggles. It’s a pony, a shark, a dinosaur, a bug, a
    friend... It’s undefined and perfectly intentional.
  </p>
  <p class="subcontent">
    Werzid is a one-for-one endeavor. It is our greatest wish that every kid who needs a toy - who needs a friend, and
    a play toy, and something uniquely and truly their own, will receive a Werzid. One purchased, one gifted.
  </p>
</div>

<div class="faqSection">
  <h2 class="sectionHeader">Hoosier Made Toy Co.</h2>

  <p class="subcontent">I was inspired to create this one of kind toy company, and one of a kind toy, almost
    mythically. One day it was just all there and the stars aligned. I can’t fully explain – but from a friend’s post
    about crocheted toys and a dream of providing a fun, meaningful and engaging job opportunity to disabled Hoosiers –
    was born Hoosier Made Toy Co and our Werzid.</p>

  <p class="subcontent">As a kid who was a regular in a resource classroom, to working with disabled Hoosiers in high
    school and, as an instructional aide in my 20’s, this community near and dear to my heart. I’ve always felt that
    these individuals were an untapped asset in our community and job statistics show that many capable, willing, and
    hard working individuals are without employment. Hoosier Made Toys wants to change that by providing an adaptive,
    flexible, fun, and enriching workplace environment.</p>
</div>

<div class="faqSection">
  <h2 class="sectionHeader">F.A.Q.</h2>

  <h3>What’s your return policy?</h3>
  <p class="subcontent">Return any of our products--no questions asked--within 30 days of purchase. We even pay return
    shipping.</p>

  <h3>Do you ship oversees and to P.O. boxes?</h3>
  <p class="subcontent">Yes, we’ll ship your package anywhere that can accept deliveries.</p>

  <h3>Do you have customer service?</h3>
  <p class="subcontent">Of course! Our friendly and knowledgeable customer services reps are available to answer your
    questions 24/7/365.</p>
</div>