#content{
    background-color: rgba(255, 255, 255, .8);
    width: 65%;
    margin: auto;
    border-radius: 25px;
    font-size: 1em;
    padding: 2em;
    font-family: 'Raleway', sans-serif;
    margin-top: 120px;
}