<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div >
  <img class="contact">
  <h1 class="contactus">
    Contact us:
    <hr id="hr">
  </h1>
</div>
  <div class="contactform">
  <form ngNoForm action="https://formspree.io/camillejackson205@gmail.com" method="POST">
  <div>
    <div>
      <mat-form-field>
        <input name="email" type="text" matInput placeholder="Your email">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <textarea name="message" type="text" matInput placeholder="Your message"></textarea> 
        </mat-form-field>
    </div>
  </div>
  <button mat-button class="nav-btn" color="white" type="submit">Send</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="wrapper"><img class="sociallinks" src="https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e700514c9f8e995a8c516db8c60978e&auto=format&fit=crop&w=1647&q=80"><a target="new" href="https://www.facebook.com/WERZID/"><span class="fa fa-facebook" ></span></a></div>

  




