<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <img class="contact">
  <br>

  <!-- <h1>
    Contact us: 
   </h1> -->
  <h1 class="contactus">
    <i>We look forward to hearing from you!</i>
    <!-- <hr id="hr"> -->
  </h1>
  <!-- <h4 class="fbmessage">
    (Like and follow us on facebook)
  </h4> -->
</div>
<div class="contactform">
  <form ngNoForm action="https://formspree.io/camillejackson205@gmail.com" method="POST">
    <div>
      <div>
        <mat-form-field>
          <input name="email" type="text" matInput placeholder="Your email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field id="textInput">
          <textarea name="message" type="text" matInput placeholder="Your message"></textarea>
        </mat-form-field>
      </div>
    </div>
    <button mat-button class="nav-btn" color="white" type="submit">Send</button>
  </form>
</div>
<!-- <div class="wrapper"><img class="sociallinks" src="https://images.unsplash.com/photo-1537350188778-923cf3302b12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d258ede9943160ef1a244d97f2f25e2&auto=format&fit=crop&w=1650&q=80"><a target="new" href="https://www.facebook.com/WERZID/"><span class="fa fa-facebook" ></span></a></div> -->